<!-- doctor-home.component.html -->
 <app-navbar></app-navbar>
<div class="d-flex">
  <img src="img1.jpg" alt="Healthcare Facility" class="img-fluid">
  <div class="overlay">
    <h2>Welcome to Our Beloved Doctors</h2>
    <p>Thank you for providing the best medical care to our patients.</p>

    <!-- Button calling the updated method -->
    <button class="btn btn-primary mt-3" (click)=" redirectToAppointments()">
     Today's Appointments
    </button>
  </div>
</div>
<app-footer></app-footer>
