.footer {
    background-color:#003366;
    color: white;
    padding: 10px;
    text-align: center;
  }
 
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 
  .social-media p {
    margin: 0 10px;
    line-height: 1;
  }
 
  .social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 5px;
    text-decoration: none;
  }
 
  .social-icons a:first-child {
    margin-left: 0;
  }
 
  .social-icons a:hover {
    color: #bbb;
  }
 
 