/* view-appointment.component.css */

.container {
    margin-top: 20px;
  }
  
  .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    position: relative;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .btn-danger {
    position: absolute;
    top: 100px;
    right: 10px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
  
  .mt-2 {
    margin-top: 0.5rem;
  }
  
  p.card-text strong {
    width: 120px;
    display: inline-block;
  }
  