<header class="header">
  <div class="logo">
    <img src="logo.png" alt="Hospital logo" />
    <h1>Hospital Management System</h1>
  </div>
  <div class="nav">

    <!-- Visible when not logged in -->
    <ng-container *ngIf="!isLoggedIn">
      <div>
        <button class="nav-button">
          <a routerLink="/login">Login</a>
        </button>
      </div>
      <div>
        <button class="nav-button">
          <a routerLink="/register">Register</a>
        </button>
      </div>
    </ng-container>

    <!-- Visible when logged in -->
    <ng-container *ngIf="isLoggedIn">
      <!-- Visible to Patients -->
      <ng-container *ngIf="role === 'Patient'">

        <div>
          <button class="nav-button">
            <a routerLink="/home">Home</a>
          </button>
        </div>
       
        <div>
          <button class="nav-button">
            <a routerLink="/doctor">View Doctors</a>
          </button>
        </div>
        <div>
          <button class="nav-button">
            <a routerLink="/appointmentDetails">View Appointments</a>
          </button>
        </div>
        <div>
          <button class="nav-button">
            <a routerLink="/prescription">View Prescriptions</a>
          </button>
        </div>
      </ng-container>

      <!-- Visible to Doctors -->
      <ng-container *ngIf="role === 'Doctor'">

        <div>
          <button class="nav-button">
            <a routerLink="/doctor_home">Home</a>
          </button>
        </div>
       
        <div>
          <button class="nav-button">
            <a routerLink="/doctor">View Doctors</a>
          </button>
        </div>
        <div>
        <div>
          <button class="nav-button">
            <a routerLink="/viewTodaysApp">Today's Appointments</a>
          </button>
        </div>
        <div>
          <button class="nav-button">
            <a routerLink="/viewAllApp">All Appointments</a>
          </button>
        </div>
        </div>
        </ng-container>

      <!-- Logout button -->
      <div>
        <button class="nav-button" (click)="logout()">Logout</button>
      </div>
    </ng-container>
  </div>
</header>
<router-outlet></router-outlet>
