<!-- appointment.component.html -->
<div class="filter-bar">
  <select [(ngModel)]="specialization" class="form-control">
    <option value="" disabled selected>Select Specialization</option>
    <option value="Cardiologist">Cardiologist</option>
    <option value="Physiologist">Physiologist</option>
    <option value="Pulmonologist">Pulmonologist</option>
    <option value="ENT">ENT</option>
    <option value="Neurologist">Neurologist</option>
    <option value="General Physician">General Physician</option>
    <option value="Dentist">Dentist</option>
    <option value="Gynecologist">Gynecologist</option>
    <option value="Orthopedic">Orthopedic</option>
    <option value="Pediatrician">Pediatrician</option>
    <option value="Dermatologist">Dermatologist</option>
    <option value="Urologist">Urologist</option>
  </select>
  <button class="btn btn-primary" (click)="searchDoctors()">Search</button>
</div>

<div class="appointment-cards" *ngIf="doctors.length > 0">
  <div *ngFor="let doctor of doctors" class="card appointment-card">
    <div class="card-body">
      <h5 class="card-title"> Dr. {{ doctor.name }}</h5>
      <p class="card-text">Specialization: {{ doctor.specialization }}</p>
      <p class="card-text">Email: {{ doctor.emailId }}</p>
      <p class="card-text">Phone: {{ doctor.mobile_number }}</p>
      <button class="btn btn-primary" (click)="navigateToBookAppointment(doctor.doctorId)">
        Book Appointment
      </button>
    </div>
  </div>
</div>

<div *ngIf="doctors.length === 0 && searched">
  <p>No doctors found for specialization "{{ specialization }}".</p>
</div>
<router-outlet></router-outlet>
