<section class="register-section">
    <div class="register-container">
        <h2 class="text-uppercase text-center">Create an account</h2>

        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="form-outline mb-4">
                <label class="form-label" for="name">Your Name</label>
                <input type="text" id="name" name="name" class="form-control form-control-lg" [(ngModel)]="user.name"
                    required />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="email">Your Email</label>
                <input type="email" id="email" name="email" class="form-control form-control-lg"
                    [(ngModel)]="user.email" required />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control form-control-lg"
                    [(ngModel)]="user.password" required />
            </div>

            <!-- Other form fields -->

            <label class="form-label" for="role">Select Role:</label>
            <div class="radioButton">
                <input type="radio" id="Doctor" name="role" value="Doctor" [(ngModel)]="user.roles" required />
                <label for="Doctor">Doctor</label>
            </div>
            <div class="radioButton">
                <input type="radio" id="Patient" name="role" value="Patient" [(ngModel)]="user.roles" required />
                <label for="Patient">Patient</label>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
            </div>

            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                    class="fw-bold text-body"><u>Login here</u></a></p>

        </form>

    </div>
</section>